#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
       &kp Q       &kp Y       &kp O          &kp U         &kp MINUS    &kp X      &kp L         &kp D        &kp P       &kp Z
       &hm LGUI C  &hm LALT I  &hm LCTRL A    &hm LSHIFT E  &kp SLASH    &kp K      &hm RSHIFT H  &hm RCTRL T  &hm RALT N  &hm RGUI S
&kp B  &kp COMMA   &kp PERIOD  &kp APOS       &kp SEMI      &kp BSLH     &kp J      &kp M         &kp G        &kp F       &kp V       &kp W
                               &kp BACKSPACE  &kp SPACE     &kp DEL      &kp SPACE  &kp ENTER     &kp R
            >;
        };

        NAV {
            bindings = <
         &none     &none     &none      &none       &none    &none  &none  &none  &none  &none
         &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHIFT  &none    &none  &none  &none  &none  &none
&kp ESC  &none     &none     &to 0      &tog 1      &none    &none  &none  &none  &none  &none  &kp ESC
                             &none      &none       &none    &none  &none  &none
            >;

            label = "NAV";
        };

        MOUSE {
            bindings = <
         &none     &none     &none      &none       &none    &none  &none  &none  &none  &none
         &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHIFT  &none    &none  &none  &none  &none  &none
&kp ESC  &none     &none     &to 0      &tog 2      &none    &none  &none  &none  &none  &none  &kp ESC
                             &none      &none       &none    &none  &none  &none
            >;

            label = "MOUSE";
        };

        MEDIA {
            bindings = <
         &none     &none     &none      &none       &none    &none  &none  &none  &none  &none
         &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHIFT  &none    &none  &none  &none  &none  &none
&kp ESC  &none     &none     &to 0      &tog 3      &none    &none  &none  &none  &none  &none  &kp ESC
                             &none      &none       &none    &none  &none  &none
            >;

            label = "MEDIA";
        };

        NUM {
            bindings = <
         &none  &none  &none  &none  &none    &none  &none       &none      &none     &none
         &none  &none  &none  &none  &none    &none  &kp RSHIFT  &kp RCTRL  &kp RALT  &kp RGUI
&kp ESC  &none  &none  &none  &none  &none    &none  &tog 4      &to 0      &none     &none     &kp ESC
                       &none  &none  &none    &none  &none       &none
            >;

            label = "NUM";
        };

        FUN {
            bindings = <
         &none  &none  &none  &none  &none    &none  &none       &none      &none     &none
         &none  &none  &none  &none  &none    &none  &kp RSHIFT  &kp RCTRL  &kp RALT  &kp RGUI
&kp ESC  &none  &none  &none  &none  &none    &none  &tog 5      &to 0      &none     &none     &kp ESC
                       &none  &none  &none    &none  &none       &none
            >;

            label = "FUN";
        };

        SYM {
            bindings = <
         &none  &none  &none  &none  &none    &none  &none       &none      &none     &none
         &none  &none  &none  &none  &none    &none  &kp RSHIFT  &kp RCTRL  &kp RALT  &kp RGUI
&kp ESC  &none  &none  &none  &none  &none    &none  &tog 6      &to 0      &none     &none     &kp ESC
                       &none  &none  &none    &none  &none       &none
            >;

            label = "SYM";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
